<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT App - Graphs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <!-- Incluye la biblioteca de Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    IoT Data Dashboard - Graphs
                </h1>
                <h2 class="subtitle">
                    Generate Custom Graphs
                </h2>
            </div>
        </div>
    </section>

    <div class="section">
        <div class="container">
            <!-- Sección para seleccionar campos y mostrar la gráfica -->
            <section id="graph-section" class="mt-5">
                <h3 class="title is-3">Generate Graph</h3>
                <!-- Formulario para seleccionar campos -->
                <form id="graph-form">
                    <div class="field">
                        <label class="label">Select X-axis Field:</label>
                        <div class="control">
                            <!-- Dropdown para seleccionar el campo del eje X -->
                            <div class="select">
                                <select id="x-axis-field" name="x-axis-field">
                                    <!-- Opciones específicas -->
                                    <option value="name">Name</option>
                                    <option value="country">Country</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Select Y-axis Field:</label>
                        <div class="control">
                            <!-- Dropdown para seleccionar el campo del eje Y -->
                            <div class="select">
                                <select id="y-axis-field" name="y-axis-field">
                                    <!-- Opciones específicas -->
                                    <option value="lastValue(pm10)">pm10</option>
                                    <option value="lastValue(pm25)">pm25</option>
                                    <option value="lastValue(um100)">um100</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" type="submit">Generate Graph</button>
                        </div>
                    </div>
                </form>

                <!-- Contenedor para mostrar la gráfica o valores -->
                <div id="graph-container" class="mt-5">
                    <!-- Aquí se mostrará la gráfica generada -->
                </div>

                <!-- Contenedor para mostrar valores calculados -->
                <div id="result-container" class="mt-5">
                    <!-- Aquí se mostrarán los valores calculados -->
                </div>
            </section>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function () {
                console.log('Conectado al servidor SocketIO!')
            });

            // Lógica adicional para manejar la generación de gráficos
            const graphForm = document.getElementById('graph-form');
            const graphContainer = document.getElementById('graph-container');
            const resultContainer = document.getElementById('result-container');

            graphForm.addEventListener('submit', function (event) {
                event.preventDefault();

                const xAxisField = document.getElementById('x-axis-field').value;
                const yAxisField = document.getElementById('y-axis-field').value;

                // Lógica para solicitar datos al servidor con los campos seleccionados y generar la gráfica o mostrar valores
                fetch('/get_graph_data', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: new URLSearchParams({
                        'x-axis-field': xAxisField,
                        'y-axis-field': yAxisField
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Graph data:', data);

                if (xAxisField === 'country'){
                    const xValues = Object.keys(data);
                    const paramName = yAxisField.match(/\(([^)]+)\)/)[1]; // Extraer el parámetro entre paréntesis
                    const yValues = Object.values(data).map(countryData => countryData[paramName + '_average']);

                    // Crear un gráfico de barras
                    const trace = {
                        x: xValues,
                        y: yValues,
                        type: 'bar',
                        marker: {
                            color: 'rgb(0, 128, 255)' // Puedes ajustar el color según tus preferencias
                        }
                    };

                    const layout = {
                        title: `Bar Chart: ${paramName} Average by Country`,
                        xaxis: { title: 'Country' },
                        yaxis: { title: paramName + ' Average' },
                    };

                    Plotly.newPlot(graphContainer, [trace], layout);

                    } else {
                        // Resto del código para 'name' (sin cambios)
                        const xValues = Array.isArray(data) ? data.map(entry => entry[xAxisField]) : [data[xAxisField]];
                        const yValues = Array.isArray(data) ? data.map(entry => entry[yAxisField]) : [data[yAxisField]];

                        const trace = {
                            x: xValues,
                            y: yValues,
                            mode: 'markers',
                            type: 'scatter',
                            marker: {
                                color: 'rgb(0, 128, 255)' // Puedes ajustar el color según tus preferencias
                            }
                        };

                        const layout = {
                            title: `Graph: ${yAxisField} vs ${xAxisField}`,
                            xaxis: { title: xAxisField },
                            yaxis: { title: yAxisField }
                        };

                        Plotly.newPlot(graphContainer, [trace], layout);
                    }
                })
                .catch(error => {
                    console.error('Error fetching graph data:', error);
                });
            });
        });
    </script>
</body>

</html>


