<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT App - Graphs</title>
    <style>

        body {
            font-family: 'Segoe UI';
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            color: #000;
        }
        header {
            background-color: #7fff7f;
            padding: 1em;
            text-align: center;
            color: #000;
        }

        nav {
            background-color: #a9ffa9;
            padding: 0.5em;
            text-align: center;
        }

        nav a {
            color: #000;
            text-decoration: none;
            padding: 1em;
            margin: 0 0.5em;
            display: inline-block;
            border: 1px solid #000;
            border-radius: 5px;
            font-weight: bold;
        }
        .container {
            max-width: 800px;
            margin: 2em auto;
            padding: 1em;
            background-color: #d9ffd9;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        .section-title {
            font-weight: bold;
            color: black;
        }
        .home-link {
            color: black;
            text-decoration: none;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <header>
        <a href="/" class="home-link">
        <h1><strong>AIR QUALITY APP</strong></h1>
        </a>
    </header>
    <!-- Menú de navegación -->
    <nav>
        <a href="/locations">Generate Data</a>
        <a href="/graph">Graph</a>
        <a href="/worldmap">World Map</a>
        <a href="/data">Stored Data</a>
        <a href="/my_sensors">My Sensors</a>
    </nav>

    <div class="section">
        <div class="container">
            <section id="graph-section" class="mt-5">
                <div class="notification is-danger">
                    <p class="subtitle is-6 has-text-weight-bold">
                        Values displayed in red on the graphs indicate levels that are considered unhealthy for the population
                    </p>
                </div>
                <h3 class="title is-3">Generate Graph</h3>
                <form id="graph-form">
                    <div class="field">
                        <label class="label">Select X-axis Field:</label>
                        <div class="control">
                            <div class="select">
                                <select id="x-axis-field" name="x-axis-field">
                                    <option value="name">Name</option>
                                    <option value="country">Country</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Select Y-axis Field:</label>
                        <div class="control">
                            <div class="select">
                                <select id="y-axis-field" name="y-axis-field">
                                    <option value="lastValue(pm10)">pm10</option>
                                    <option value="lastValue(pm25)">pm25</option>
                                    <option value="lastValue(um100)">um100</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" type="submit">Generate Graph</button>
                        </div>
                    </div>
                </form>

                <div id="graph-container" class="mt-5"></div>
                <div id="result-container" class="mt-5"></div>
            </section>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function () {
                console.log('Conectado al servidor SocketIO!')
            });

            const graphForm = document.getElementById('graph-form');
            const graphContainer = document.getElementById('graph-container');
            const resultContainer = document.getElementById('result-container');

            graphForm.addEventListener('submit', function (event) {
                event.preventDefault();

                const xAxisField = document.getElementById('x-axis-field').value;
                const yAxisField = document.getElementById('y-axis-field').value;

                fetch('/get_graph_data', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: new URLSearchParams({
                        'x-axis-field': xAxisField,
                        'y-axis-field': yAxisField
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Graph data:', data);

                    if (xAxisField === 'country') {
                        const xValues = Object.keys(data);
                        const paramName = yAxisField.match(/\(([^)]+)\)/)[1];
                        const yValues = Object.values(data).map(countryData => countryData[paramName + '_average']);

                        const thresholds = {
                            pm10: 20,
                            pm25: 10,
                            um100: 0.01
                        };

                        const trace = {
                            x: xValues,
                            y: yValues,
                            type: 'bar',
                            marker: {
                                color: yValues.map(value => value > thresholds[paramName] ? 'red' : 'blue')
                            }
                        };

                        const layout = {
                            title: `Bar Chart: ${paramName} Average by Country`,
                            xaxis: { title: 'Country' },
                            yaxis: { title: paramName + ' Average' },
                        };

                        Plotly.newPlot(graphContainer, [trace], layout);

                    } else {
                        const xValues = Array.isArray(data) ? data.map(entry => entry[xAxisField]) : [data[xAxisField]];
                        const yValues = Array.isArray(data) ? data.map(entry => entry[yAxisField]) : [data[yAxisField]];
                        const paramName = yAxisField.match(/\(([^)]+)\)/)[1];
                        const thresholds = {
                            pm10: 20,
                            pm25: 10,
                            um100: 0.01
                        };

                        const trace = {
                            x: xValues,
                            y: yValues,
                            mode: 'markers',
                            type: 'scatter',
                            marker: {
                                color: yValues.map(value => value > thresholds[paramName] ? 'red' : 'blue')
                            }
                        };

                        const layout = {
                            title: `Graph: ${yAxisField} vs ${xAxisField}`,
                            xaxis: { title: xAxisField },
                            yaxis: { title: yAxisField }
                        };

                        Plotly.newPlot(graphContainer, [trace], layout);
                    }
                })
                .catch(error => {
                    console.error('Error fetching graph data:', error);
                });
            });
        });
    </script>
</body>

</html>
