<!-- templates/index2.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT App - OpenAQ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>

<body>

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    IoT Data Dashboard
                </h1>
                <h2 class="subtitle">
                    Test Page - OpenAQ Data
                </h2>
            </div>
        </div>
    </section>

    <div class="section">
        <div class="container">
            <!-- Sección para mostrar datos en bruto -->
            <section id="raw-data" class="mt-5">
                <h3 class="title is-3">Raw Data</h3>
                <ul id="rawDataList"></ul>
            </section>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const socket = io.connect('http://' + document.domain + ':' + location.port);

            socket.on('air_quality_data', function (data) {
                console.log('Datos recibidos:', data); // datos recibidos en la consola del navegador
                updateRawData(data);
            });

            function updateRawData(data) {
                const list = document.getElementById('rawDataList'); // Obtener el elemento <ul>
                const listItem = document.createElement('li'); // Crear un elemento <li>
                listItem.textContent = JSON.stringify(data); // Establecer el contenido de texto del elemento <li>
                list.appendChild(listItem); // Agregar el elemento <li> al elemento <ul>
            }
        });
    </script>

</body>

</html>



