<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Map - Air Quality</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>
    <style>
        #map-container {
            position: relative;
        }

        #map {
            height: 500px;
        }

        #legend {
            position: absolute;
            top: 10px;
            left: 10px;
            padding: 10px;
            background-color: white;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 12px;
            z-index: 1000; /* Asegurar que la leyenda esté sobre el mapa */
        }

        .legend-item {
            margin-bottom: 5px;
        }
    </style>
</head>

<body>
    <div id="map-container">
        <div id="map"></div>
        <div id="legend">
            <h4 style="margin-bottom: 10px;">Healthy Scale</h4>
            <div class="legend-item" style="background-color: green; color: white; padding: 5px; border-radius: 3px;">Good (Acceptable)</div>
            <div class="legend-item" style="background-color: yellow; color: white; padding: 5px; border-radius: 3px;">Moderate (Slight concern)</div>
            <div class="legend-item" style="background-color: red; color: white; padding: 5px; border-radius: 3px;">Unhealthy (Health alert)</div>
        </div>
    </div>

    <script>
        // Código JavaScript para el mapa
        var map = L.map('map').setView([0, 0], 2);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Función para actualizar el mapa con datos
        function updateMap(data) {
            var heatData = [];

            // Definir umbrales para colores
            var thresholds = {
                pm10: 20,
                pm25: 10,
                um100: 0.01
            };

            // Iterar sobre los datos y asignar colores
            data.forEach(countryData => {
                var pm10 = countryData.pm10_average;
                var pm25 = countryData.pm25_average;
                var um100 = countryData.um100_average;

                // Asignar colores en función de los umbrales
                var color = 'green';
                if (pm10 > thresholds.pm10 || pm25 > thresholds.pm25 || um100 > thresholds.um100) {
                    color = 'red';
                } else if (pm10 > thresholds.pm10 / 2 || pm25 > thresholds.pm25 / 2 || um100 > thresholds.um100 / 2) {
                    color = 'yellow';
                }

                // Añadir la posición y el color al conjunto de datos para el mapa de calor
                if (countryData.coordinates && color !== 'green') {
                    heatData.push([countryData.coordinates.latitude, countryData.coordinates.longitude, color]);
                }
            });

            // Crear capa de calor y añadirla al mapa
            var heat = L.heatLayer(heatData, { radius: 25 }).addTo(map);
        }

        // Función para cargar datos del servidor y actualizar el mapa
        function loadData() {
            fetch('/get_map_data')
                .then(response => response.json())
                .then(data => {
                    updateMap(data);
                })
                .catch(error => {
                    console.error('Error fetching map data:', error);
                });
        }

        // Llamar a la función de carga de datos al cargar la página
        loadData();
    </script>
</body>

</html>

